@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: center;
  background-color: rgb(240, 245, 250);
  color: rgb(70, 130, 210);
  min-height: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: rgb(70, 130, 210);
}

a:hover {
  color: rgb(200, 230, 250);
}

button {
  font-weight: 400;
  border-style: none;
  border-radius: 6px;
  transition: all .2s ease;
  text-align: center;
  outline: none;
}