@import url('./sessions-view.css');
@import url('./recordview.css');

.main-layout {
  /*Same as the height of the footer*/
  margin-bottom: 20px;
}

.nav-bar {
  height: 100px;
  background-color: #000000;
  border-bottom: 4px solid;
}

.pure-menu-heading {
  z-index: 1;
  position: absolute;
  text-transform: lowercase;
  color: rgb(70, 130, 210);
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  float: left;
}

.pure-menu-heading:hover {
  color: rgb(200, 230, 250);
}

.pure-menu {
  position: absolute;
  z-index: 0;
  margin: 40px 0;
}

.pure-menu-list {
  float: right;
  margin-right: 40px;
}

.pure-menu-link {
  border-radius: 3px;
  color: rgb(70, 130, 210);
  transition: all .2s ease;
  margin: 0 4px;
}

.pure-menu-link:hover {
  color: #2d3e50;
  background-color: rgb(200, 220, 235);
}

div.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  padding: 15px;
  background-color: rgb(200, 210, 220);
  border-top: 1px solid rgb(180, 190, 200);
  text-align: center;
}

.footer-link {
  font-size: 13.5px;
  margin: auto 20px;
}

.footer-link:hover {
  color: rgb(50, 70, 90);
}