.header {
  height: 100px;
  background-color: #2d3e50;
}

.pure-menu-heading {
  z-index: 1;
  position: fixed;
  text-transform: none;
  color: rgb(70, 130, 210);
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  float: left;
}

.pure-menu-heading:hover {
  color: rgb(200, 230, 250);
}

.pure-menu {
  position: fixed;
  z-index: 0;
  margin: 40px 0;
}

.pure-menu-list {
  float: right;
  margin-right: 40px;
}

.pure-menu-link {
  color: rgb(70, 130, 210);
}

.pure-menu-link:hover {
  color: #2d3e50;
  background-color: rgb(200, 220, 235);
}