body {
  background-color: #2d3e50;
}

div.login-container {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

h1.title {
  text-transform: none;
  font-size: 75px;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgb(70, 130, 210);
}

div.login-form {
  margin-top: -30px;
}

div.login-form-input input {
  border-radius: 5px;
  margin: 4px 0;
  width: 250px;
  height: 35px;
  padding: 10px 20px;
  border: none;
  text-align: left;
  font-weight: 400;
}

div.login-form-input input:focus {
  outline: none;
}

button.login-button {
  font-weight: 400;
  margin-top: 30px;
  width: 290px;
  padding: 18px 20px;
  background-color: rgb(200, 220, 235);
  color: rgb(70, 130, 210);
  border-style: none;
  border-radius: 6px;
  transition: all .2s ease;
  text-align: center;
  outline: none;
}

button.login-button:hover {
  background-color: rgb(165, 180, 205);
}

