/*div.record-view {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}*/

div.record-box {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
    float: left;
    color: rgb(70, 130, 210);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 1px;
}

div.recordinstructions {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
    float: left;
    color: rgb(70, 130, 210);
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 1px;
}
