.session-entry {
  border-style: solid;
  border-color: black;
  float: left;
  width: 20%;
  height: 200px;
  margin: 6%;
}

.session-entry-data {
  float: left;
}

.session-entry img {
  float: left;
  height: 200px;
  width: 50%;
}

.sessions-view {
  overflow:auto;
  padding: 20px 50px;
}

