.sessions-view {
  margin: 0 auto 70px;
  max-width: 1150px;
}

.sessions-view-title {
  font-weight: 300;
  font-size: 40px;
  margin: 40px 0 20px;
}

.session-entry-block {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  border-radius: 28px;
  margin: 20px auto 40px;
  padding: 55px;
  height: 250px;
  width: 230px;
  background-color: white;
  color: rgb(80, 80, 100);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 5px 12px 5px rgb(230,230,230)
}

.session-entry-block:hover {
  background-color: #D1E8F3;
}

.session-entry-title {
  letter-spacing: 2px
  padding: 30px 0 10px;
  font-size: 22px;
  font-weight: 500;
}

.session-entry-description {
  margin: 15px 0 20px;
  font-size: 16px;
  color: rgb(140,140,140);
  height: 60px;
}

.session-entry-block .label {
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 12px;
}

.session-entry-block .value {
  font-weight: 300;
  font-size: 18px;
}

.session-entry-subject {
  margin: 40px 0 13px;
}

.session-entry-date {
  margin: 13px 0;
}

.session-entry-duration {
  margin: 13px 0;
}
