.settings-view {
  padding: 20px 0 90px;
}

.settings-view-title {
  font-weight: 300;
  font-size: 40px;
  margin: 30px 0 15px;
}

.settings-view-instructions {
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0 15px;
}

.form-title {
  letter-spacing: .5px;
  font-size: 22.5px;
  font-weight: 400;
  margin: 60px 0 25px;
}

.update-form-label {
  margin: 20px 0 3px;
  font-size: 14px;
}

div.update-form-input input {
  border-radius: 5px;
  margin: 4px 0;
  width: 250px;
  height: 35px;
  padding: 5px 10px;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}

div.update-form-input input:focus {
  outline: none;
}

button {
  font-size: 15px;
  margin: 20px 0;
  width: 270px;
  padding: 15px 20px;
  background-color: rgb(70, 130, 210);
  color: rgb(240, 245, 250);
  font-weight: 300;
}

button:hover {
  color: white;
}