# Node/Bower Dependency Management
node_modules/
client/bower

# Logs
npm-debug.log

# Client Side Babel Compiled Files
client/build/

# Environment Configuration, API Keys
env/env-config.js
env/google-oauth-2.0.js
