# Node/Bower Dependency Management
node_modules/
client/bower

# Logs
npm-debug.log

# Client Side Babel Compiled Files
client/build/

# Client Environment variables for APIs
env/client-config.js

# Environment Configuration, API Keys
env/development.env
env/production.env