doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Project Description.')
    meta(name='author', content='jackrzhang')

    title Sentimize

    // Favicon
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

    // Base Styles
    link(rel='stylesheet', href='style/pure-min.css')
    link(rel='stylesheet', href='style/base.css')

    // Custom Styles
    block styles

    // External Dependencies
    script(src='bower/jquery/dist/jquery.min.js')
    block head-scripts

  body
    block content
    div.footer
      a.footer-link(href="/about") About
      a.footer-link(href="https://github.com/chkakaja/sentimize") Github
      a.footer-link(href="https://github.com/chkakaja/sentimize/blob/master/LICENSE") License
      a.footer-link(href="https://github.com/chkakaja/sentimize/blob/master/CONTRIBUTING.md") Contribute

    block body-scripts