extends ./base

block styles
  link(rel='stylesheet', href='style/index.css')
  link(rel='stylesheet', href='style/sessions.css')
  link(rel='stylesheet', href='style/recordview.css')

block content
  div.root

block body-scripts
  script(src='build/index.bundle.js')
