doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Project Description.')
    meta(name='author', content='jackrzhang')

    title Project Title

    // Favicon
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')

    // Base Styles
    link(rel='stylesheet', href='bower/pure/pure-min.css')
    link(rel='stylesheet', href='style/base.css')

    // Custom Styles
    block styles

    // External Dependencies
    script(src='bower/jquery/dist/jquery.min.js')
    block head-scripts

  body
    block content

    block body-scripts