extends ./base

block styles
  link(rel='stylesheet', href='style/login.css')

block content
  div.login-container
    h1.title Sentimize
    div.login-form
      form(method='POST', action='/login')
        div.login-form-input.username
          input(type='text', name='email', placeholder="Email")
        div.login-form-input.password
          input(type='password', name='password', placeholder="Password")
        button.login-button Log in

    div.signup-link-container
      a.signup-link(href='/signup') Sign up