extends ./base

block styles
  link(rel='stylesheet', href='style/welcome.css')

block content
  div.welcome-container
    img.brain(src='/assets/brain2.jpg')
    h1.title Sentimize
    h4.subtitle Human emotion analysis during video recording
    div.button-container
      a.pure-button.start-button(href='login') Get started
